
.photo {
    width: 90%;
    height: 200px;
    border: 1px #000 dashed;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    text-align: center;
    vertical-align: middle;

    ion-icon {
        font-size: 4em;
    }
}

.inactive {
    display: none;
}

// 送信ボタンスタイル
.send {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
}

// 画像選択input
#photo-upload {
    display: none;
}